
#topSideBar {
	margin-bottom: 10px;
	box-shadow: 0 5px 5px #c2c9fe;
}

#topSideBar .container {
	display: flex;
	justify-content: space-between;
}

#topSideBar .container .gencrossLogoContainer {
	align-self: left;
}

#topSideBar .container .gencrossLogoContainer img {
	height: 50px;
}

#topSideBar .container .accountLogoContainer {
	align-self: right;
}

#topSideBar .container .accountLogoContainer img {
	height: 40px;
}

.buttonWithSpinner {
	position: relative;
}

.buttonSpinner {
	display: none;
	position: absolute;
	margin: auto;
	width: 1em;
	height: 1em;
	left: 50%;
	top: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
}

.home .tableName {
	flex: 1 1 50%;
	font-weight: bold;
}

.home .tableGame {
	flex: 1 1 50%;
}

.home .character {
	cursor: pointer;
}

.character #nextPhaseButton {
	display: none;
}

.character #characterRoot {
	padding-left: 0;
}

.character #phaseContainer {
	display: flex;
	align-items: center;
}

.character #phaseContainer #phaseName {
	display: inline;
	margin-bottom: 0;
}

.character .pointPool {
	width: 15em;
}

.character #errorContainer {
	margin-bottom: 0;
}

.character #errorContainer li {
	list-style-type: none;
}

.character #errorContainer li i {
	margin-right: 0.5em;
}

.character .propertyNode {
	list-style-type: none;
}

.character .propertyNode.collapsed > .nodeIcon::before {
	content: url('/gencross-online/img/bootstrap-icons-1.4.1/chevron-right.svg');
}

.character .propertyNode.expanded > .nodeIcon::before {
	content: url('/gencross-online/img/bootstrap-icons-1.4.1/chevron-down.svg');
}

.character .propertyNode.end > .nodeIcon::before {
	content: url('/gencross-online/img/bootstrap-icons-1.4.1/dash.svg');
}

.character .propertyNode.collapsed .nodeIcon {
	cursor: pointer;
}

.character .propertyNode.expanded .nodeIcon {
	cursor: pointer;
}

.character .propertyNode.collapsed .subProperties {
	display: none;
}

.character .propertyNode .propertyValue {
	display: inline;
}

.character .propertyNode .propertyValue .propertyValueSpinner {
	width: 1em;
	height: 1em;
}

.character .propertyNode .actionIcon {
	margin-left: 0.5em;
	cursor: pointer;
}

.character .propertyNode .flyingCard {
	position: absolute;
	z-index: 10;
	top: -20px;
	left: 0;
	padding: 0;
}

.character .propertyNode .flyingCard .card-body {
	display: flex;
	align-items: center;
}

.character .propertyNode .flyingCard .card-body .flyingCardButton {
	height: 1.5em;
	cursor: pointer;
}

.character .propertyNode .flyingCard .card-body select {
	min-width: 10em;
}

.character .propertyNode .flyingCard .card-body .freeChoiceText {
	margin-top: 1em;
	width: 100%;
}

.character .propertyNode .flyingCard .card-body .specificationGroup {
	margin-top: 1em;
	width: 100%;
	display: flex;
}

.character .propertyNode .flyingCard .card-body .specificationGroup .specificationText {
	flex: auto 1 1;
}

.character .propertyNode .propertyValue {
	position: relative;
	display: inline-block;
}

.character .propertyNode .subProperties .addAction {
	position: relative;
}

.character .propertyNode .subProperties .addAction .addActionText {
	cursor: pointer;
	font-style: italic;
}

.character .propertyNode .nodeSpinner {
	width: 1em;
	height: 1em;
}
