
#topSideBar {
	margin-bottom: 10px;
	box-shadow: 0 5px 5px #c2c9fe;
}

#topSideBar .container {
	display: flex;
	justify-content: space-between;
}

#topSideBar .container .gencrossLogoContainer {
	align-self: left;
}

#topSideBar .container .gencrossLogoContainer img {
	height: 50px;
}

#topSideBar .container .accountLogoContainer {
	align-self: right;
}

#topSideBar .container .accountLogoContainer img {
	height: 40px;
}

#newTableButton {
	position: relative;
}

#newTableButtonSpinner {
	display: none;
	position: absolute;
	margin: auto;
	width: 1em;
	height: 1em;
	left: 50%;
	top: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
}
